<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26198461236-gqnniqkjclpqvbb8ftnk99llufsgm0s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26198461236-gqnniqkjclpqvbb8ftnk99llufsgm0s1</string>
	<key>API_KEY</key>
	<string>AIzaSyAshUBQcrFaDeFM6wfHZQY6XmtPN-P2TcA</string>
	<key>GCM_SENDER_ID</key>
	<string>26198461236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MHAH.SwipeMatchFirestore</string>
	<key>PROJECT_ID</key>
	<string>swipematchfirestore-51938</string>
	<key>STORAGE_BUCKET</key>
	<string>swipematchfirestore-51938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26198461236:ios:380e08985963d06b3bb361</string>
	<key>DATABASE_URL</key>
	<string>https://swipematchfirestore-51938.firebaseio.com</string>
</dict>
</plist>